<div class="backdrop-modal team__backdrop--hidden">
  <div class="team__modal">
       <button class="team__modal--close close-modal-team">
         <svg class="team__icon team__icon--close" width="25" height="25">
           <use href="/src/images/icons.svg#icon-close"></use>
         </svg>
       </button>
       <h1 class="team__title">G3 Students</h1>
       <div class="team__box">

             <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/Perci.jpg"
              alt="Perci"/>
             </div>
            <a class="team__link"
            href="https://perci-aceron.github.io/"
            target="_blank">
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Perci Aceron</p>
            <p class="team__role">Team Lead - Loader and Additional Functionalities</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/Kate.jpg"
              alt="Kate"/>
             </div>
            <a class="team__link"
            href="https://github.com/katelim215"
            target="_blank">
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Kate Limosnero</p>
            <p class="team__role">Scrum Master - Libraries</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/Mon.jpg"
              alt="Mon"/>
             </div>
            <a class="team__link"
            href="https://github.com/kiksmon21"
            target="_blank">
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Krystian Mon Laguatan</p>
            <p class="team__role">Developer - UI/UX Design</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/Rey.jpg"
              alt="Rey"/>
             </div>
            <a class="team__link"
            href="https://github.com/reyleal27"
            target="_blank" >
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Rey Vincent Leal</p>
            <p class="team__role">Developer - Main Page</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/Jessa.jpg"
              alt="Jessah"/>
             </div>
            <a class="team__link"
            href="https://github.com/JessahSeroje"
            target="_blank">
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Jessah Seroje</p>
            <p class="team__role">Developer - Libraries</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/Bri.jpg"
              alt="Bri"/>
             </div>
            <a class="team__link"
            href="https://github.com/Bmorta"
            target="_blank" >
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Bridgette Morta</p>
            <p class="team__role">Developer - Movie Cards, Modals</p>
          </div>
          <div class="team__member">
             <div class="team__card">
              <img class="team__photo" src="/src/images/team/franci.jpg"
              alt="Franci"/>
             </div>
            <a class="team__link"
            href="https://github.com/ciehgiordani"
            target="_blank" >
            <svg class="team__github" width="25" height="25">
             <use href="/src/images/icons.svg#icon-github"></use>
            </svg>
            </a>
            <p class="team__name">Franci Giordani</p>
            <p class="team__role">Developer - Movie Cards, Modals</p>
          </div>
          

